header{
  font-family:sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight:600;
  margin: 30;
  padding: 30;
  background-color: rgba(202, 221, 224, 0.247);
  box-shadow: #00090e;
}


body {
    font-family: lato, sans-serif;
    min-height : 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.5;
    margin: 30;
    padding: 10;
    background-color:honeydew ;
}
  
  .page-title {
   font-family:cursive;
   text-align: center;
    font-weight: 100;
    background-color: transparent;
    padding:30px ;
    margin-top: 0%;
  }
  
  .page-description {
    border: 1px solid #000;
    margin: 2px;
    text-align: center;
    padding: 30px;
  }
  
  .gallery {
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:baseline;
    border: 2px solid gold;
    background-color: none ;
    text-align: center;
    }
  
  nav {
    float: inline-end;
    background-color: transparent;
  }
  nav ul{
    margin: 0;
    padding: 0;
    list-style: armenian;
  }
  nav ul li{
    float:left;
    display:inline-block;
    margin-right:70px;
    padding-bottom: 25px;
    position:relative;
  }
  nav a{
    font-family: cursive;
    color: #444;
    text-decoration: wavy;
    text-transform: uppercase;
    font-size: 20px;
  }
  nav a:hover{
    color:#000
  }
  nav a::before{
    content:'';
    display: block;
    height: 5px;
    width: 100%;
    background-color:#444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
  }
  nav a:hover::before{
    width:100%;
  }
  .next-btn a:active {
  
  }
  
  .next-btn {
    float: right;
  }
  
  .next-btn a {
    cursor: pointer;
    margin-right: 30px;
    padding: 8px 18px;
    border: 1px solid #204156;
  
  }
  
  .back-btn a:active {
  
  }
  .back-btn {
    float: left;
  }
  
  .back-btn a {
    cursor: pointer;
    margin-right: 30px;
    padding: 8px 18px;
    border: 1px solid #204156;
  
  }
  nav a {
    height: 60px;
    line-height: 60px;
    color: #204156;
    text-decoration: none;
  }
  .Chracteristic{
  font-size: 20px;
  }

.next-pages{
  font-size: 20px;
  font-family: fantasy;

}