header{
  font-family:sans-serif;
  min-height: 100%;
  font-weight:600;
  margin: 30;
  padding: 30;
  background-color: white;
  box-shadow: #00090e;
}


body {
    font-family: lato, sans-serif;
    min-height : 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.5;
    margin: 30;
    padding: 10;
    background-color:whitesmoke ;
}
  
  .page-title {
    font-weight: 600;
    text-align: center;
    background-color: transparent;
    padding:5px ;
    margin-top:5px;
  }
  
  .pagedescription {
    border: 1px solid #000;
    margin: 2px;
    text-align: center;
    padding: 30px;
  }
  
  .galleryindex {
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:baseline;
    border: 2px solid gold;
    background-color: none ;
    text-align: center;
    }

    .galleryprofile {
      margin: 0px;
      display: flex;
      flex-wrap: nowrap;
      justify-content:baseline;
      border: 2px solid gold;
      background-color: none ;
      text-align: center;
      } 
  nav { 
    float: inline-end;
    background-color: rgb(154, 199, 221);
  }
  nav ul{
    margin:0;
    padding:0;
    list-style:armenian;
  }
  nav ul li{
    display:inline-block;
    margin-left:150px;
    padding-bottom: 25px;
    position:relative;
  }
  nav a{
    font-family: cursive;
    color: black;
    text-decoration: wavy;
    text-transform: uppercase;
    font-size: 13px;
  }
  nav a:hover{
    color:#000
  }
  nav a::before{
    content:'';
    display: block;
    height: 5px;
    width: 100%;
    background-color:#444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
  }
  nav a:hover::before{
    width:100%;
  }
  
  .Chracteristic{
  font-size: 20px;
  }

.next-pages{
  font-size: 20px;
  font-family:fantasy;
}
table, th, td{
  border:2px solid rgb(125, 152, 221);
  border-style:double;
}
th{
  text-transform: uppercase;

}
.progress {
  background: #d4a0a03f;
  border-radius: 13px;
  height: 20px;
  width: 300px;
  padding: 3px;
}

.progress:after {
  content: '';
  display: block;
  background: rgb(85, 142, 207);
  width: 50%;
  height: 100%;
  border-radius: 9px;
}